<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>Kategorije</h1>
        <p class="text-info">Lorem ipsum</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Dodaj kategoriju" name="categoryName" class="form-control-plaintext shadow-element">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">Dodaj</button>
        </form>
    </div>
</div>

<div class="row categories-list">
    <div class="col-md-3">
        <div class="card shadow-element">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="badge badge-primary">KATEGORIJA</div>
                    </div>
                    <div class="float-right cat-tools">
                        <small><i class="fa fa-pencil-alt text-success"></i></small>
                        <small><i class="fa fa-trash text-danger"></i></small>
                    </div>
                </div>
                <div class="todo-content">
                    <h3>Kategorija</h3>
                    <small class="text-secondary">Lorem ipsum</small>
                </div>
                <span class="badge badge-danger">3</span>
            </div>
        </div>
    </div>
</div>