<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h2>ZADACI</h2>
        
        <button class="btn btn-primary my-5" routerLink=''>Nazad na kategorije</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form #form='ngForm' (ngSubmit)='form.form.valid && onSubmit(form)' class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Dodaj novi zadatak" name="imeZadatka" class="form-control-plaintext shadow-element"
                [(ngModel)]='imeZadatka' required #todo = 'ngModel' [ngClass]= "{'border-danger': form.submitted && todo.invalid}">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">{{dataStatus}}</button>
            <div class="text-danger ml-3" *ngIf="form.submitted && todo.invalid && todo.errors.required">
                Unesite zadatak...
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card" *ngFor="let zadatak of zadaci">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left text-secondary">
                        <i class="far fa-circle text-danger" *ngIf="!zadatak.data.isCompleted"></i>
                        <i class="fas fa-check text-success" *ngIf="zadatak.data.isCompleted"></i>
                        {{zadatak.data.zadatak}}
                        <hr *ngIf="zadatak.data.isCompleted">
                    </div>
                    <div class="float-right">
                        <i class="far fa-check-circle text-success" (click)='zavrsenZadatak(zadatak.id)' *ngIf="!zadatak.data.isCompleted"></i>
                        <i class="far fa-times-circle text-danger" (click)='nezavrsenZadatak(zadatak.id)' *ngIf="zadatak.data.isCompleted"></i>
                        <div class="todo-tools">
                            <i class="fas fa-pencil-alt text-warning" (click)='onEdit(zadatak.data.zadatak, zadatak.id)'></i>
                            <i class="fas fa-trash text-danger" (click)='onDelete(zadatak.id)'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>